<!DOCTYPE html>
<html>
	<head>
		<title>Diabetes Result</title>
		<style>
			h1{
				text-color:black;
				text-align:center;
				text-indent:50px;
			}
			body{
				background-color:#479761;
				}
			table{
				border:10px groove rgba(123,75,123,0.5);
				background-color:#CEBC81
				}
		</style>
	</head>
	<body>
		<h1><marquee behaviour="scroll" direction = "right" scrollamount = 10>{{message}}</marquee></h1>
		<table border = "1" cellpadding="5" cellspacing="0" align = "center">
			<tr>
				<td>Food</td>
				<td align = "center">Benifits</td>
			</tr>
			<tr>
				<td>Fatty Fish</td>
				<td>Fatty fish contain omega-3 fats that reduce inflammation and other risk factors for heart disease and stroke.</td>
			</tr>
			<tr>
				<td>Leafy Greens</td>
				<td>Leafy green vegetables are rich in nutrients and antioxidants that protect your heart and eye health.</td>
			</tr>
			<tr>
				<td>Cinnamon</td>
				<td>Cinnamon may improve blood sugar control, insulin sensitivity, cholesterol and triglyceride levels in type 2 diabetics.</td>
			</tr>
			<tr>
				<td>Eggs</td>
				<td>Eggs improve risk factors for heart disease, promote good blood sugar control, protect eye health and keep you feeling full.</td>
			</tr>
			<tr>
				<td>Chia Seeds</td>
				<td>Chia seeds contain high amounts of fiber, are low in digestible carbs and may decrease blood pressure and inflammation.</td>
			</tr>
			<tr>
				<td>Turmeric</td>
				<td>Turmeric contains curcumin, which may reduce blood sugar levels and inflammation, while protecting against heart and kidney disease.</td>
			</tr>
			<tr>
				<td>Greek Yogourt</td>
				<td>Greek yogurt promotes healthy blood sugar levels, reduces risk factors for heart disease and may help with weight management.</td>
			</tr>
			<tr>
			<td>Nuts</td>
			<td>Almonds: 2.6 grams   Cashews: 7.7 grams   Walnuts: 2 grams</td>
			</tr>
			<tr>
				<td>Garlic</td>
				<td>Garlic helps lower blood sugar, inflammation, LDL cholesterol and blood pressure in people with diabetes.</td>
			</tr>
			<tr>
				<td>Extra-virgin Olive oil</td>
				<td>Extra-virgin olive oil contains healthy oleic acid. It has benefits for blood pressure and heart health</td>
			</tr>
		</table>
	</body>
</html>
